image: python:python3-onbuild

before_script:
  - python --version

stages:
  - test

test:
  stage: test
  script:
    - python3 --version
    - pip install Django==4.0.5
    - py manage.py test

    ##probamos testing solo mediante correr test
